@import'variables';
@import'mixines';
@import'annimations';
%btn{
    display: inline-block;
    background-image: $background_gradient;
    border: 1.5px solid transparent;
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    color: #fff;
    //@include shadow;
    box-shadow: $box-shadow;
}


.button_acceuil{
   @extend %btn;
    &:hover{
        cursor: pointer;
        background-blend-mode: hard-light;
    
        
 }
}