@media screen and (max-width: 1400px) and (min-width: 782px){
    .cards_resto{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
         
       
    }
}
