@media screen and (max-width: 1400px) and (min-width: 782px){
    .cards_resto{
    border: 2px solid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
         .card{
        border: 2px solid red;
        
         }
       
    }
}
