@import './utils/mixines';
@import './utils/variables';
@media screen and (min-width: 782px) and (max-width: 1400px) {
  .cards_resto {
    .cards_new{
      position: relative;
      &::before{
          content:"New" ;
          position: absolute;
          height: 1.5rem;
          width: 5rem;
          background: $color-tertiary;
          border: 5px solid $color-tertiary;
          color: #008766;
          right:2%;
          top: 40%;
          display: grid;
          place-items: center;
          
      }
    }
    .card{
      @include display_row;
      box-shadow: $box-shadow;
        .image_card{
          width: 60%;
          .image_resto{
             
          }
          
        }
      
        .information_resto{
          display: flex;
          flex-direction:column;
          justify-content: space-between;
         
          width: 30%;
          padding: 30px;
          
          .infos{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .nom_resto{
                  font-size: large;
              }
          }
          .i{
              width: 20%;
          }
          
        }
      }

}
}
.restaurants{
  .titre_section{
    text-align: center;
     font-size: x-large;
  
  }
}
// footer 
@media screen and (min-width: 782px) and (max-width: 1400px){
  .footer_identique{
    text-align: center;
    .img_footer{
      font-size: xx-large;
    }
}
}
//loader
@media screen and (min-width: 782px) and (max-width: 1400px){
  .cercle_loader{
    right: 40%;
  }
  .text_loading{
    top:30%;
    right:45% ;
  }
}
//fonctionnement
@media screen and (min-width: 782px) and (max-width: 1400px){
  .fonctionnement{
    
    
    .liste_acceuil{
      width: 100%;
      @include display_row;
      
      .element_liste{
        width: 20%;
        margin: 10px;
      }
    }
  }
}
