// declaration des variables

//-- les coleurs
$color_button: linear-gradient(to top, #9356dc, #b35cdc, #e86edb); ;
$background_color: #f2f2f2;
$background_form:#e6daf6;

//-- les fonts
$font_txt:" Roboto, sans-serif";
$font_title: "Shrikhand", "sans-serif";
//les marges
$margin:30px;