* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0px;
}

body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
.button_acceuil {
  display: inline-block;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  border: 1.5px solid transparent;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.button_acceuil:hover {
  cursor: pointer;
  background-blend-mode: hard-light;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
.liste_fonctionnement .liste_acceuil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  counter-reset: number_step;
}
.liste_fonctionnement .liste_acceuil .element_liste {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.liste_fonctionnement .liste_acceuil .element_liste::before {
  content: "" counter(number_step);
  counter-increment: number_step;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 10%;
  text-align: center;
  position: relative;
  right: 50px;
}
.liste_fonctionnement .liste_acceuil .element_liste:hover {
  transform: scale(1.1);
}
.liste_fonctionnement .liste_acceuil .element_liste .fas {
  color: #9356dc;
  width: 8%;
}
.liste_fonctionnement .liste_acceuil .element_liste .text {
  width: 80%;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
.card {
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0 30px 20px 30px;
  border-radius: 10%;
  background-color: #ffffff;
}
.card .image_card .image_resto {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}
.card .information_resto {
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 10px 20px;
}
.card .information_resto .infos {
  width: 70%;
}
.card .information_resto .infos .nom_resto {
  margin-bottom: 5px;
}
.card .information_resto .i {
  width: 10%;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
.card .information_resto .icon_favorit:hover .fas {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  opacity: 0;
  transition: all 3s ease-in-out;
}

.card .information_resto {
  display: flex;
  flex-direction: row;
}
.card .information_resto .icon_favorit {
  font-size: x-large;
}
.card .information_resto .icon_favorit .fas {
  display: none;
}
.card .information_resto .icon_favorit:hover .far {
  display: none;
}
.card .information_resto .icon_favorit:hover .fas {
  opacity: 1;
}

.footer_identique {
  padding-left: 30px;
  background-color: #353535;
  flex-direction: column;
}
.footer_identique .img_footer {
  color: #ffffff;
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.footer_identique .liste_footer {
  flex-direction: column;
  width: 100%;
}
.footer_identique .liste_footer .infos_liste {
  list-style: none;
}
.footer_identique .liste_footer .infos_liste .element_footer {
  margin-bottom: 10px;
}
.footer_identique .liste_footer .infos_liste .element_footer .lien_footer {
  color: #ffffff;
  text-decoration: none;
}

.header_acceuil {
  margin-top: 20px;
  text-align: center;
}
.header_acceuil .logo_header {
  width: 50%;
}

.search {
  align-items: center;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  background-color: #e6daf6;
}
.search .icon_resarch {
  font-size: small;
}
.search .input_research {
  margin-left: 10px;
  border: none;
  background-color: #e6daf6;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
}
.reservation .titre_reservation {
  width: 70%;
  font-family: "Shrikhand", cursive;
}
.reservation .sous_titre {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fonctionnement {
  margin: 30px;
  flex-direction: column;
}

.titre_section {
  margin-bottom: 20px;
}

.restaurants {
  width: 100%;
  background-color: #f2f2f2;
  flex-direction: column;
}
.restaurants .titre_section {
  margin: 30px;
}
.restaurants .cards_resto {
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */