* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0px;
}

body {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: larger;
}

.sous_text {
  font-weight: lighter;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 5px 5px 3px #121010;
  }
  50% {
    box-shadow: 5px 5px 3px #131010;
  }
  100% {
    box-shadow: 3px 3px 3px #0b0808;
  }
}
.button_1 .button {
  display: inline-block;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  border: 1.5px solid transparent;
  border-radius: 25px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: relative;
}

.button_1 {
  text-align: center;
}
.button_1 .button {
  /*.btn_bg{
      position: relative;
      background-color: darken($background_gradient, 5);
      opacity: 0;
      transition: opacity 250ms;
  }*/
}
.button_1 .button:hover {
  background-color: #bc95e9;
  background-blend-mode: lighten;
  animation: glowing 2s infinite;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 5px 5px 3px #121010;
  }
  50% {
    box-shadow: 5px 5px 3px #131010;
  }
  100% {
    box-shadow: 3px 3px 3px #0b0808;
  }
}
.liste_fonctionnement {
  margin: 30px;
}
.liste_fonctionnement .liste_acceuil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  counter-reset: number_step;
}
.liste_fonctionnement .liste_acceuil .element_liste {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  flex-grow: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.liste_fonctionnement .liste_acceuil .element_liste::before {
  content: "" counter(number_step);
  counter-increment: number_step;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  position: relative;
  right: 43px;
  padding: 5px;
}
.liste_fonctionnement .liste_acceuil .element_liste:hover {
  animation: zoom 1s infinite;
}
.liste_fonctionnement .liste_acceuil .element_liste .fas {
  color: #9356dc;
  width: 8%;
  padding-right: 10px;
}
@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 5px 5px 3px #121010;
  }
  50% {
    box-shadow: 5px 5px 3px #131010;
  }
  100% {
    box-shadow: 3px 3px 3px #0b0808;
  }
}
.card {
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 0px 30px 20px 30px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.card .image_card .image_resto {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card .information_resto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 10px 20px;
}
.card .information_resto .infos {
  width: 70%;
}
.card .information_resto .infos .nom_resto {
  margin-bottom: 5px;
}
.card .information_resto .i {
  width: 10%;
}

@keyframes full-scale {
  from {
    transform: scale(0);
    animation-timing-function: ease-in-out;
  }
  95% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 5px 5px 3px #121010;
  }
  50% {
    box-shadow: 5px 5px 3px #131010;
  }
  100% {
    box-shadow: 3px 3px 3px #0b0808;
  }
}
.icon_favorit:hover .fas {
  display: block;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  opacity: 0;
  position: relative;
  animation: full-scale 500ms 100ms forwards;
  transform: scale(0);
  transform-origin: bottom;
}

.icon_favorit {
  font-size: x-large;
}
.icon_favorit .fas {
  display: none;
}
.icon_favorit:hover .far {
  display: none;
}
.icon_favorit:hover .fas {
  opacity: 1;
}

.footer_identique {
  padding-left: 30px;
  background-color: #353535;
  flex-direction: column;
}
.footer_identique .img_footer {
  color: #ffffff;
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}
.footer_identique .liste_footer {
  flex-direction: column;
  width: 100%;
}
.footer_identique .liste_footer .infos_liste {
  list-style: none;
}
.footer_identique .liste_footer .infos_liste .element_footer {
  margin-bottom: 10px;
}
.footer_identique .liste_footer .infos_liste .element_footer .lien_footer {
  color: #ffffff;
  text-decoration: none;
}

.header_page {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.header_page .icon_retour {
  width: 20%;
  padding-top: 20px;
}
.header_page .header_lien {
  color: #000000;
}
.header_page .logo_header_menu {
  width: 70%;
}
.header_page .logo_menu {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 60px;
}

.main_menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
}
.main_menu .resto_la_francaise {
  background-color: #f2f2f2;
}
.main_menu .resto_la_francaise .img_resto_la_francaise {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_menu .resto_la_francaise .description_menu {
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 30px;
}
.main_menu .resto_la_francaise .description_menu .titre_resto_icon_coeur {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main_menu .resto_la_francaise .description_menu .titre_resto_icon_coeur .titre_menu {
  font-family: "Shrikhand", cursive;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 {
  margin-bottom: 30px;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .title_menu_1 .text_menu {
  font-weight: lighter;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .title_menu_1 .line_menu {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  border: none;
  margin-bottom: 5px;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .liste_menus {
  margin-top: 30px;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .liste_menus .elt_1 {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 6px 6px 6px #aaa;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .liste_menus .elt_1 .name_menu_1 {
  width: 70%;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .liste_menus .elt_1 .name_menu_1 .name {
  padding-bottom: 5px;
}
.main_menu .resto_la_francaise .description_menu .detail_menu_1 .menu_1 .liste_menus .elt_1 .price {
  width: 10%;
  font-weight: bold;
}

/*.titre_resto_icon_coeur{
    @include display_row;
    justify-content: space-between;
    margin: $margin;

}*/
.header_acceuil {
  margin-top: 20px;
  text-align: center;
}
.header_acceuil .logo_header {
  width: 50%;
}

.search {
  align-items: center;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
  background-color: #e6daf6;
}
.search .icon_resarch {
  font-size: small;
}
.search .input_research {
  margin-left: 10px;
  border: none;
  background-color: #e6daf6;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
}
.reservation .titre_reservation {
  width: 70%;
  font-family: "Shrikhand", cursive;
}
.reservation .sous_titre {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fonctionnement {
  margin: 30px;
  flex-direction: column;
}

.titre_section {
  margin-bottom: 20px;
}

.restaurants {
  width: 100%;
  background-color: #f2f2f2;
  flex-direction: column;
}
.restaurants .titre_section {
  margin: 30px;
  padding-top: 20px;
}
.restaurants .cards_resto {
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */