@import'variables';
@import 'utilities';
@import'buttons';
@import'elt_liste';
@import'mixines';
@import'annimations';
@import'carte';
@import'icon_favorite';
@import'footer';
@import'header_menus';
@import'main_menus';

  // style header_ page d'acceuil
  .header_acceuil{
    margin-top: 20px;
    text-align: center;

    .logo_header{
        width: 50%;
    }
  }
  // style formulaire de recherche
  .search{
    align-items: center;
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    background-color:$background_form;
    
    .icon_resarch {
        font-size: small;
        
    }
    .input_research{
        margin-left: 10px;
        border: none;
        background-color: $background_form;
    }
  
  }
  
  // reservation
  .reservation{
   @include display_column;
   align-items: center;
   margin: $margin;
   text-align: center;
   .titre_reservation{
    width: 70%;
    font-family: $font_title;
   }
   .sous_titre{
   margin-bottom: 20px;
   margin-top: 20px;
   
   }
  
  }
  //style  section fonctionnement
  .fonctionnement{
    margin: $margin;
    @include flex_direction(column);
  }
  .titre_section{
    margin-bottom: 20px;
  }
  //style section restauarant
  .restaurants{
    width: 100%;
    background-color: $background_color;
    @include display(column);
    
    .titre_section{
      margin:$margin;
    }
    .cards_resto{
      @include display(column);
    }

  }
