@import'../utils/variables';
@import'../utils/mixines';
@import'../utils/animations';


%check_style{
    background-color: $color_tertiary;
    color: $background_card;
    //width: 60px;
    //height: 48px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: -3rem;
    padding:5px ;
    height: 100%;
    
    .fa-2x{
    animation: rotate 2s infinite;

    }
}



/*.menu_price{
    .price{
        border: 2px solid yellow;  
        width:30%;
        translate: width 2s; 
    }
    &:hover{
       width: 20%;  
    }
    
}*/
/*.name_menu_1{
    border: 2px solid;
    width: 80%;
    transition: width 2s;
    &:hover{
        width: 50%;
    }
}*/
/*.menu_price{
    border: 2px solid;
    width: ;
    transition: width 2s;
    &:hover{
        width: %;
    }
}*/
.menu_price{
    overflow: hidden;
    .price{
      padding-bottom: 10px;
      padding-right: 10px;
    }
    .check{
        $btn_width:50px;
        display: grid;
        place-items: center;
        flex-shrink: 0;
        height: 100%;
        background-color: $color_tertiary;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-right: -1* $btn_width;
        width: $btn_width; 
    
        .fa-2x{
            color: white;
            animation: rotate 1s infinite;
        }
    }
    &:hover .check {
        margin-right: 0;
    }
    
}
/*.name_menu_1{
    cursor: pointer;
    border: 1px solid;
    width: 70%;
    transition: width 2s;
    &:hover{
     width: 50%;
    }
} */