@import'variables';
@import'mixines';
@import'annimations';
%btn{
    display: inline-block;
    background-image: $background_gradient;
    border: 1.5px solid transparent;
    border-radius: 25px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    //@include shadow;
    box-shadow: $box-shadow;
}


    

.button_1{
    text-align: center;
.button{
    @extend %btn;
    &:hover{
        background-blend-mode: hard-light;   
 }
}
}