@import'../utils/mixines';
@import'../utils/variables';
.card{
@include display(column);
box-shadow: $box-shadow;
 margin: 0px 30px 20px  30px;
 border-radius: 10px 10px 10px 10px;
 background-color: $background_card;
 cursor: pointer;
 
  .image_card{
    .image_resto{
        @include  img_resto;
        @include border_img;
      
    }
    
   z-index: 1;
   
  }
  .text_nouveau{
    
z-index: 2;


  }
  .information_resto{
    @include display_row;
    justify-content: space-between;
    padding:  10px 30px 10px 20px;
    .infos{
        width: 70%;
        .nom_resto{
            margin-bottom: 5px;
        }
    }
    .i{
        width: 10%;
    }
    
  }
}