@import'../utils/variables';
@import'../utils/variables';
@import'../utils/animations';

.liste_fonctionnement{
    margin: $margin;
    .liste_acceuil{
        @include display_column;
        gap: 20px;
        width: 100%;
        counter-reset: number_step;
        .element_liste{
            height: 60px;
            &::before{
                content: "" counter(number_step);
                counter-increment: number_step;
                color:white;
                background-color:$color_primary ;
                border-radius:50% ;
                width: 15px;
                margin-bottom:20px;
                position: relative;
                right: 20px;
                padding: 5px;
                text-align: center;
                
            }  
            list-style-type: none;
            @include  display_row;
            width:100%;
            padding: 20px 0 0 ;
            background-color: $background_elt_liste;
            border-radius: 20px;
            flex-grow: 1;
            box-shadow: $box-shadow;
           
            
              
            .fas{
                color: #9356dc;
                width: 8%;
        
                padding-right: 10px;
            }
              
            
        }
    }
}