@import'../utils/mixines';
@import'../utils/variables';

.card{
    position: relative;
    .btn__card{
        border: 2px solid ;
        color: #008766;
        background: $color-tertiary;
        border: 5px solid $color-tertiary;
         position: absolute;
         right: 3%;
        top: 4%;
    }
}